# Mac OSX specific files
.DS_Store

# Python files
*.pyc
test.txt

# CSV output files
pr2/AguaAgrupada.csv
pr2/FrecuenciaResiduos.csv
pr2/Contaminantes.csv

#Json & txt output files
pr2/SemaforosFrecuencia.json
pr2/ej2/SemaforosFrecuencia.txt
pr2/FrecuenciaOrdenada.txt

#DATA BASE
pr4-sql/Libreria