# Mac OSX specific files
.DS_Store

# Python files
*.pyc
test.txt
*/.python-version

# Práctica 2
# -----------------------------------
pr2/AguaAgrupada.csv
pr2/FrecuenciaResiduos.csv
pr2/Contaminantes.csv

pr2/SemaforosFrecuencia.json
pr2/ej2/SemaforosFrecuencia.txt
pr2/FrecuenciaOrdenada.txt

# Práctica 4
# -----------------------------------
pr4-sql/Libreria

# Práctica 5
# -----------------------------------
pr5_scraping/Entrada*

# Práctica 6
# -----------------------------------
pr6-web/practica6
